# Target directories
bin
build

# Qt Creator files
kinect-object-detection.config
kinect-object-detection.creator
kinect-object-detection.creator.user
kinect-object-detection.files
kinect-object-detection.includes
