# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator files
kinect-object-detection.config
kinect-object-detection.creator
kinect-object-detection.creator.user
kinect-object-detection.files
kinect-object-detection.includes

# Target directories
bin
build
